#content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#organizer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    width: 1000px;
    height: 500px;
    background-color: #262840;
    border-radius: 20px;
    display: flex;
    align-items: center;
}


.errorContent{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    padding: 40px;
    text-align: center;
}

.errorLogo{
    width: 300px;
    scale: 1.5;
    padding-right: 60px;
    margin-left: 10px;
}