<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <title>GoService | Home</title>
</head>
<body>

<main id="content">
    <div th:replace="fragments/header :: header"></div>

    <div id="mainContainer">
        <div class="cardsContainer">
            <div class="card" style="width: 18rem;">
                <img th:src="@{/assets/img/prormos/1.png}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Seja um Go Agent!</h5>
                    <p class="card-text">Junte-se a nós como um Go Agent e transforme suas habilidades em oportunidades de negócio.</p>
                    <a href="/auth/cadastro" class="btn btn-primary">Cadastre-se!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img th:src="@{/assets/img/prormos/2.png}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">A maior plataforma de serviços!</h5>
                    <p class="card-text">Somos a maior plataforma de serviços autônomos, cadstre-se e chame nossos agentes!</p>
                    <a href="/auth/cadastro" class="btn btn-primary">Cadastre-se!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img th:src="@{/assets/img/prormos/3.png}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Conheça nossos professores!</h5>
                    <p class="card-text">Descubra a excelência de nossos professores e transforme sua jornada de aprendizado.</p>
                    <a href="/auth/cadastro" class="btn btn-primary">Servicos</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img th:src="@{/assets/img/prormos/4.png}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Conheça nossos agentes!</h5>
                    <p class="card-text">Conheça nossos agentes e simplifique sua vida com serviços de alta qualidade.</p>
                    <a href="/cliente/agendar" class="btn btn-primary">Servicos</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img th:src="@{/assets/img/prormos/5.png}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Compre conosco!</h5>
                    <p class="card-text">Conheça nossos Personal Shoppers, a companhia perfeita para suas compras.</p>
                    <a href="/cliente/agendar" class="btn btn-primary">Servicos</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img th:src="@{/assets/img/prormos/6.png}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Social media!</h5>
                    <p class="card-text">Conheça nossos Social Medias, e bombe nas redes sociais, como sempre sonhou!</p>
                    <a href="/cliente/agendar" class="btn btn-primary">Servicos</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img th:src="@{/assets/img/prormos/7.png}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Ajudante pessoal!</h5>
                    <p class="card-text">Se sua vida desorganizou, e você nao arrumou? Chame nossos profissionais e let's Go!</p>
                    <a href="/cliente/agendar" class="btn btn-primary">Servicos</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img th:src="@{/assets/img/prormos/8.png}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nota 10!</h5>
                    <p class="card-text">Chame um de nossos profissionais de correção, tenho certeza que eles são NOTA 10!</p>
                    <a href="/cliente/agendar" class="btn btn-primary">Servicos</a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</main>

</body>
</html>